* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 550px;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #918E9B;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    max-width: 550px;
}

.nav--icon {
    max-width: 100px;
}

.hero--container {
    padding: 26px;
}

.hero--image {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0px;
}

.card {
    width: 175px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--star {
    height: 14px;
}